.header {
	height: 58px;
	background: #2196f3;
}

.header .left-title {
	float: left;
	height: 58px;
	line-height: 58px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: white;
	font-size: 25px;
	padding-left: 18px;
}

.middle-tab {
	float: right;
	height: 58px;
    margin-right: 100px;
}

.middle-tab>ul {
	float: left;
	height: 100%;
	overflow: hidden;
	margin-right: 40px;
}

.middle-tab>ul>li {
	float: left;
	width: 90px;
	height: 58px;
	border-left: 1px solid #409ef1;
	cursor: pointer;
}

.middle-tab>ul>li:last-child {
	border-right: 1px solid #409ef1;
}

.middle-tab>ul>li img {
	display: block;
	margin: 0px auto;
	margin-top: 9px;
	margin-bottom: 5px;
}

.middle-tab>ul>li div {
	color: white;
	font-size: 13px;
	font-family: "微软雅黑";
	text-align: center;
	font-weight: bold;
	/*cursor: pointer;*/
}

.user {
	float: left;
	height: 100%;
	padding-top: 11px;
	box-sizing: border-box;
}

.left-button {
	float: left;
	height: 36px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	border-right: 1px solid white;
}

.left-button img {
	cursor: pointer;
}

.right-info {
	height: 36px;
	float: left;
	margin-left: 11px;
}

.right-info img {
	float: left;
}

.right-info>div {
	float: left;
	height: 100%;
	box-sizing: border-box;
	margin-left: 8px;
}

.active {
	background: #3b87d4;
}

.right-info .detail>div {
	color: white;
	font-size: 12px;
	font-family: "微软雅黑";
	height: 18px;
	line-height: 18px;
}

.content {
	position: absolute;
	top: 100px;
	bottom: 30px;
	width: 100%;
	overflow: hidden;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 30px;
	background: #2aa1ec;
	color: white;
	font-family: "微软雅黑";
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}

#iframe-main {
	width: 100%;
	height: 100%;
	border: 0 !important;
}

.iframeOne {
	top: 58px !important;
}

.iframeTwo {
	top: 99px !important;
}